﻿@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title.</h2>

<p>Обмен файлами при помощи технологии FileStream.</p>

<p>Технологии:</p>
<p>MSSQL 2012</p>
<p>ASP.NET MVC 5</p>
<p>ORM: Entity Framework 6</p>
<p>IoC: Ninject</p>