﻿@{
    ViewBag.Title = "Контактная информация";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Email:</strong>   <a href="mailto:terenyaroman@gmail.com">terenyaroman@gmail.com</a><br />
</address>