﻿@{
    ViewBag.Title = "Список фалов";
}

<div class="jumbotron">
    <h2>
        @ViewBag.Title
    </h2>
</div>

<table class="table table-responsive" style="width: 100%">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @using (Html.BeginForm("Download", "Home", new { FileId = @item.Id }))
                {
                    <input style="float: left; width: 100%" class="btn btn-block" type="submit" value="@item.Description" />
                }
            </td>
            <td>
                @Html.ActionLink("Удалить", "Delete", "Home", new { FileId = @item.Id }, new { @class = "btn btn-danger", @style = "width: 100%" })
            </td>
        </tr>
    }
</table>



